@use "../../styles/media" as m;

.upcomingEventInformation {
  margin: auto;
  padding-bottom: 30px;
  font-size: 25px;
  width: 100%;

  @include m.sm {
    font-size: 13px;
  }
}

.accent {
  color: var(--color-accent);
}
