@use "../../styles/media" as m;

.button {
  margin: 70px auto 70px auto;
  font-style: italic;
  color: white;
  font-size: 25px;
  padding: 15px;
  text-decoration: none;
  border: 4px solid var(--color-accent);
  box-sizing: border-box;

  @include m.sm {
    font-size: 20px;
    padding: 0;
  }
}

